<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}

  通过:

  {% if site.email != empty %}
  <a href="mailto:{{site.email}}" title="mailto: {{site.email}}">Email</a> /
  {% endif %}
  {% if site.github_username != empty %}
  <a href="https://github.com/{{site.github_username}}" title="GithubID: {{site.github_username}}">Github</a> /
  {% endif %}
  
  {% endif %}
  联系我
  <br>
  <a href="https://eaturezou.github.io/resume/" style="color: #00acff;">简历查看我的</a>
</div>
